<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P90x3 WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>P90x3 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>P90x3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDC2461A1F079D20008C5AE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC2462E1F079D20008C5AE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC246391F079D20008C5AE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC246421F079D20008C5AE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
